html {
  width: 100%;
  height: 100%;
  overflow: hidden;
  padding: 0;
  margin: 0;
  outline: 0;
}

body {
  width: 100%;
  height: 100%;
  font-size: 100%;
  padding: 0;
  margin: 0;
  overflow: hidden;
  background: #a30101;
  background: -moz-linear-gradient(-45deg, #a30101 0%, #fbca05 100%);
  background: -webkit-linear-gradient(-45deg, #a30101 0%, #fbca05 100%);
  background: linear-gradient(135deg, #a30101 0%, #fbca05 100%);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#a30101', endColorstr='#fbca05', GradientType=1);
  font-family: "Helvetica Neue", "Futura", "Trebuchet MS", Arial;
  -webkit-user-select: none;
  user-select: none;
  -webkit-tap-highlight-color: rgba(255, 255, 255, 0);
  box-sizing: border-box;
  color: rgba(255,255,255,.9);
  font-size: 15px;
  line-height: 15px;
}

ul li {
  margin:0;
  padding: 0;
  list-style: none;
  float:left;
  box-sizing: border-box;
}

div, ul {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}


#wrapper {
  position: relative;
  margin: 10px auto;
  width: 94%;
  height: auto;
}

#mySequencer {
  position: relative;
  height: auto;
  width: 100%;

}
#mySequencer .params {
  width:0%;
}
#mySequencer.expand-mixer .params {
  width: 414px;
}

#mySequencer.hide-bars .bar {
  display: none;
}

/* controller styles */
.controls {
  position:relative;
  display:block;
  z-index:100;
  width: 100%;
  height:50px;
  margin:20px auto;
  color: #333;
  /*background: rgba(0,0,0,.2);*/
  clear: both;
}

.controls > div {
  /*width: auto;
  height:100%;*/
}

.controls .param {
  position:relative;
  box-sizing: border-box;
  display: flex;
  justify-content: center;
  align-items: center;
  float:left;
  width: auto;
  height: 100%;
  margin: 0 10px 0 0;
  font-size: .9rem;
  line-height: 1rem;
}

.checkbox {
  float:left;
}

.controls a {
  width: 50px;
  height: 50px;
  margin-right:40px;
  box-sizing: border-box;
  display: flex;
  justify-content: center;
  align-items:center;
  border: 3px solid #333;
  font-size: .85rem;
  text-transform: uppercase;
  text-decoration:none;
  background-color: rgba(0, 0, 0, .1);
  color: #333;
  fill: #333;
  cursor:pointer;
  float:left;
}

.controls a:hover {
  background-color: #333;
  /*border-color: #CBE86B;*/
  color: #CBE86B;
  fill: #CBE86B;
}

.controls .param label {
  position: relative;
  padding-top: 2px;
  width: auto;
  float: left;
  font-size: .8rem;
  /*background: rgba(0,0,0,.4);
  font-size: .9rem;*/
}

.controls .param-fader input {
  width: 80px;
}

.controls .param .meter {
  position: relative;
  width: 40px;
  /*background: rgba(0,0,0,.4);*/
}

.controls .param .meter.long  {
  width: 80px;
}

#playBtn {
  padding-left:5px;
}
#playBtn.playing {
  padding-left:0px;
}
#playBtn #play-svg {
  display: block;
}
#playBtn #pause-svg {
  display: none;
}
#playBtn.playing #pause-svg {
  display: block;
}
#playBtn.playing #play-svg {
  display: none;
}

/* bar & beats */
.track {
  position:relative;
  display: flex;
  width: 100%;
  height: 70px;
  margin-bottom: 5px;
  /*background: rgba(0,0,0,.2);*/
  font-size: .9rem;
  align-items: center;
  justify-content:flex-start;
  color: #333;
}
/* mixer styles */
.params {
  position: relative;
  display: none;
  width: 100%;
  height: 100%;
  align-items: center;
  justify-content:flex-start;
}

#mySequencer.expand-mixer .params {
  display: flex;
}

.param,
.name {
  position: relative;
  /*display: block;*/
  width: auto;
  height: auto;
  margin-right:15px;

}

.name {
  width: 80px;
  text-transform: uppercase;
  overflow: hidden;
  text-overflow: ellipsis;
  -o-text-overflow: ellipsis;
  white-space: nowrap;
}

.param:last-child {
  margin-right: 0;
}

.param-knob {
  width: 60px;
  text-align: center !important;
}

.param-knob > div:first-child {
  margin: 0 auto;
}

.param-knob label {
  font-size: .6rem;
  margin: -6px auto;
  opacity:.7;
  z-index:-1;
}

.param-knob .meter {
  position: absolute;
  z-index:-1;
  top: 17px;
  width: 100%;
  font-size: .8rem;
  /*background: rgba(0,0,0,.2);*/
}

.param-fader {
  display: flex;
  align-items: center;
  justify-content:flex-start;
  margin-right: 0;
}

.param-fader input {
  width: 200px;
}
.param-fader .meter {
  position: relative;
  width: 20px;
  /*background: rgba(0,0,0,.4);*/
}

.checkbox label {
  opacity:.7;
}

#mixer .checkbox {
  padding-top: 10px;
}

.controls * :focus + .meter,
.track * :focus + .meter,
.track * :focus + label ~ .meter {
  color:#CBE86B;
}
/* mute btn styles */
.params .mute {
  display: block;
  background: red;
  color: #CBE86B;
  text-align: center;
  font-size: .9rem;
  line-height: 20px;
}

.params .mute.clip {
  background: #ff9900;
}
.params .mute.max {
  background: yellow;
}

.params .mute.on {
  background: rgba(0,0,0,.1);
}

.params .mute.on:before {
  content: "x";
}
/* sequencer styles */
.track .bar {
  flex-grow: 1;
  height: 100%;
}

.track .bar li {
  position: relative;
  float:left;
  width: 25%;
  height: 100%;
}

.bar li .beat {
  position: relative;
  width: 100%;
  height: 100%;
  /*padding: 1px;*/
}

.bar  li .beat .note {
  position:relative;
  float: left;
  width: 25%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  /*border: 1px solid white;*/
}

.bar  li .beat .note .status {
  position: relative;
  width: 60%;
  height: 60%;
  border-radius: 10px;
  background: rgba(0,0,0,.2);
}

.bar li .beat .note:first-child .status {
  width: 80%;
  height: 80%;
  background: rgba(0,0,0,.3);
}

.bar li .beat .note:hover .status{
  background: rgba(0,0,0,.4);
  cursor: pointer;
}

.bar li .beat .note.on .status {
  background: rgba(255,0,0,.7);
}

.bar li .beat .note.now .status {
  background: rgba(204,255,102,.5); /*#CBE86B*/
}

@media screen and (max-height: 480px), screen and (max-width: 670px) {
  body {
    font-size: 75%;
  }
}
